

<li class="dropdown user-box">
    <a href="#" class="dropdown-toggle waves-effect waves-light profile " data-toggle="dropdown" aria-expanded="true">
        <img src="/Assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle user-img">
        <div class="user-status away"><i class="zmdi zmdi-dot-circle"></i></div>
    </a>
    <ul class="dropdown-menu">
        <li><a href="~/AdminHome"><i class="md md-face-unlock"></i> Profil</a></li>
        <li><a href="~/AdminLogin/Logout"><i class="md md-settings-power"></i> Çıkış Yap</a></li>
    </ul>
</li>