<li class="dropdown hidden-xs">
    <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
        <i class="md md-notifications"></i> <span class="badge badge-xs badge-danger">3</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg">
        <li class="text-center notifi-title">Bildirimler</li>
        <li class="list-group">
            <!-- list item-->
            <a href="javascript:void(0);" class="list-group-item">
                <div class="media">
                    <div class="pull-left">
                        <em class="fa fa-user-plus fa-2x text-info"></em>
                    </div>
                    <div class="media-body clearfix">
                        <div class="media-heading">New user registered</div>
                        <p class="m-0">
                            <small>You have 10 unread messages</small>
                        </p>
                    </div>
                </div>
            </a>
            <!-- list item-->
            <a href="javascript:void(0);" class="list-group-item">
                <div class="media">
                    <div class="pull-left">
                        <em class="fa fa-diamond fa-2x text-primary"></em>
                    </div>
                    <div class="media-body clearfix">
                        <div class="media-heading">New settings</div>
                        <p class="m-0">
                            <small>There are new settings available</small>
                        </p>
                    </div>
                </div>
            </a>
            <!-- list item-->
            <a href="javascript:void(0);" class="list-group-item">
                <div class="media">
                    <div class="pull-left">
                        <em class="fa fa-bell-o fa-2x text-danger"></em>
                    </div>
                    <div class="media-body clearfix">
                        <div class="media-heading">Updates</div>
                        <p class="m-0">
                            <small>
                                There are
                                <span class="text-primary">2</span> new updates available
                            </small>
                        </p>
                    </div>
                </div>
            </a>
            <!-- last list item -->
            <a href="javascript:void(0);" class="list-group-item">
                <small>Tüm Bildirimler</small>
            </a>
        </li>
    </ul>
</li>
