
<div id="navigation">
    <!-- Navigation Menu-->
    <ul class="navigation-menu">
        <li class="active">
            <a href="~/Home/"><i class="md md-home"></i> <span> AnaSayfa </span> </a>
        </li>
        <li>
            <a href="~/Talep"><i class="md md-list"></i> <span> Talepler </span> </a>
        </li>
        <li>
            <a href="~/Talep/Detay"><i class="md md-open-in-new"></i> <span> Yeni Talep </span> </a>
        </li>
       
        @*<li class="has-submenu">
            <a href="#"><i class="md md-pages"></i><span>Pages </span> </a>
            <ul class="submenu megamenu">
                <li>
                    <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="timeline.html">Timeline</a></li>
                        <li><a href="invoice.html">Invoice</a></li>
                        <li><a href="email-template.html">Email template</a></li>
                        <li><a href="contact.html">Contact-list</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="recoverpw.html">Recover Password</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="lock-screen.html">Lock Screen</a></li>
                        <li><a href="blank.html">Blank Page</a></li>
                        <li><a href="maintenance.html">Maintenance</a></li>
                        <li><a href="coming-soon.html">Coming-soon</a></li>
                        <li><a href="404.html">404 Error</a></li>
                        <li><a href="404_alt.html">404 alt</a></li>
                        <li><a href="500.html">500 Error</a></li>
                    </ul>
                </li>
            </ul>
        </li>*@
    </ul>
    <!-- End navigation menu  -->
</div>